.start{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}

body{
    background-color: black;
    text-align: center;
    user-select: none;
    overflow: hidden;
}
.Select{
    font-size: 140px;
    line-height: 10px;
    font-weight: 700;
} 

.easy{
    background-color: green;
} 
.medium{
    background-color: goldenrod;
}
.hard{
    background-color: red;
}
.insane{
    background-color: purple;
}
.impossible{
    background-color: rgb(1, 0, 81);
    color: white;
}
.difficulty{
    background-color: #b3531a;
    color: #a52424;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    visibility: hidden;
}

.difficultyButtons {
    position: relative;
    bottom:10px;
}

.startGame{
    position: relative;
    top: 75px;
    height: 35px;
    width: 100px;
    border-radius: 25px;
    background-color: #fff;
    color: #000;
    font-style: normal;
    text-align: justify;
    text-decoration: none;
    text-align: center;
    cursor:pointer;
    border: white;
}
.earthUpgradeButton{
    border-width: 1px;
    position: center;
}
.PrestigeUpgradesButton{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    border-width: 1px;
    display: none;
}


.container{
    text-align: center;                
}

.game{
    visibility: hidden;
}
.label2{
    color: red;
    animation: rgbColor 5s 0s infinite alternate none;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
    line-height: 10px;
    font-weight: 700;
}

.Upgrades {
    position:absolute;
    display: none;
    text-align: left;
    background-color: #c7c7c7;
    width: 100%;
    left: 0px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}

.PrestigeUpgrades {
    position:absolute;
    display: none;
    text-align: left;
    background-color: #c7c7c7;
    width: 100%;
    left: 0px;
    z-index: 3;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.ascentionUpgrades {
    position:absolute;
    display: none;
    text-align: left;
    background-color: #c7c7c7;
    width: 100%;
    left: 0px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}





.label1{
    color: red;
    animation: rgbColor 5s 0s infinite alternate none;
    opacity: 1;
    font-size: 175px;
    line-height: 100px;
    cursor: auto;
}



@keyframes rgbColor {
    0% { color: red; }
    25% {color: orange;};
    50% { color: yellow; }
    75% {color: green;}
    100% { color: blue; }
}  
@keyframes rgbBackground {
    0% { background-color: red; }
    25% {background-color: orange;};
    50% { background-color: yellow; }
    75% {background-color: green;}
    100% { background-color: blue; }
} 

.earthChangePage {
    text-align: center;
}


.startGame{
    color: black;
    animation: rgbBackground 5s 0s infinite alternate none;
}

.ascendButton {
    background-color: black;
    color: white;
    animation: rgbBackground 5s 0s infinite alternate none;
}

.ascendProgressFill {
    background-color: white !important;
}


.up_arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 15px solid black;

}

.Up,.Down {
    width: 25px;
    height: 25px;
}

.down_arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 15px solid black;

}

.ChangePage {
    text-align: center;
}


.page {
    min-height: 325px
}


.Prestige {
    text-align: center;
}

.PrestigeButton {
    width: 150px;
    height: 50px;
}

.defaultButtons {
    width: 170px;
    z-index: 0;
}

.earthPrestigeUpgrade {
    position: relative;
}

.ascentionUpgradesButton  {
    position: relative;
    left: 50%;
    transform: translate(-50%,0%);
    z-index: 1;
    display: none;
}

.earthPrintMoney {
    text-align: center;
    border-width: 1px;
}

button:hover {
    background-color: rgba(70, 70, 70, 0.611);
}

.PrestigeProgress {
    position: relative;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    width: 100px;
    height: 10px;
    border-radius: 5px;
    overflow: hidden;
}
.PrestigeProgressFill {
    width: 0%;
    height: 100%;
    background-color: green;
}

.Ground {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 50%;
    left: 0;
    z-index: -1;
}

.Sky {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
    z-index: -2;
}
.LockScreen {
    position: absolute;
    text-align: center;
    width: 500px;
    height: 300px;
    left: 50%;
    top: 50%;
    margin-top: -150px;
    margin-left: -250px;
    border: #000;
    border-width: 2px;
    border-style: solid;
}

.changeWorldUp {
    width: 20px;
    height: 100px;
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -50px;
    z-index: -1;
    display: none;
}

.changeWorldDown {
    width: 20px;
    height: 100px;
    position: absolute;
    left: 0px;
    top: 50%;
    margin-top: -50px;
    z-index: -1;
}


.purchasePlanetLabel {
    font-size: 50px;
}
.purchasePlanet {
    width: 100px;
    height: 50px;
}


dialog {
    width: 25%;
    height: 25%;
    border-radius: 10px;
}

dialog > .message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

dialog > .close {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%,0%);
}

.earthGround {
    background-color: green;
}
.earthSky {
    background-color: rgb(17, 135, 182);
}

.moonLockScreen {
    background-color: rgb(82, 82, 82);
}
.moonSky {
    background-color: rgb(36, 36, 36);
}
.moonGround {
    background-color: rgb(27, 27, 27);
}

.marsGround {
    background-color: #520505;
}
.marsSky {
    background-color: #850000;
}
.marsLockScreen {
    background-color: #AF0E0E;
}


.moneyPopup {
    position: absolute;
    z-index: -1;
}
